In [60]:
import plotly.offline as py
import plotly.graph_objs as graph_objs
import pandas as pd
import geopandas as gpd
import numpy as np
import re

mapbox_access_token = "pk.eyJ1IjoibWlzaGtpY2UiLCJhIjoiY2s5MG94bWRoMDQxdjNmcHI1aWI1YnFkYyJ9.eFsHqEMYY7qxa0Pb9USCtQ"

In [61]:
dfg = gpd.read_file('C:/Users/mskac/machineLearning/GasLeakConEd/data/2010_census_tracks_with_geoid.geojson')
dfg.columns = map(str.lower, dfg.columns)
dfg = dfg.applymap(lambda s:s.lower() if type(s) == str else s)

In [62]:
dfg = dfg[['geoid', 'ntaname', 'boro_name', 'shape_area', 'geometry']]
dfg.head()

,geoid,ntaname,boro_name,shape_area,geometry
0,36047051100,east williamsburg,brooklyn,1711548.77397,"MULTIPOLYGON (((-73.94626 40.70560, -73.94798 ..."
1,36047055300,north side-south side,brooklyn,1681865.77484,"MULTIPOLYGON (((-73.95584 40.71759, -73.95644 ..."
2,36047057500,greenpoint,brooklyn,2014844.59084,"MULTIPOLYGON (((-73.95066 40.72900, -73.95073 ..."
3,36047052700,north side-south side,brooklyn,2045672.64233,"MULTIPOLYGON (((-73.95083 40.70914, -73.95076 ..."
4,36047052900,williamsburg,brooklyn,1882580.923,"MULTIPOLYGON (((-73.95024 40.70547, -73.95190 ..."

In [63]:
full_df = pd.read_csv('C:/Users/mskac/machineLearning/GasLeakConEd/data/data_with_centroids_updated.csv')

In [64]:
full_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [65]:
full_df.describe()

,geoid,_incidents,_crimes,population,povertyrate,unemploymentrate,gas_leaks_person,crimes_person,centerLong,centerLat
count,1.638000e+03,1638.000000,1638.000000,1638.000000,1638.000000,1638.000000,1638.000000,1638.000000,1638.000000,1638.000000
mean,3.605555e+10,23.604396,31.922466,3942.458486,0.180950,0.072321,0.010771,0.015811,-73.909872,40.721128
std,2.510165e+07,60.943777,14.462370,2178.722794,0.118676,0.042630,0.148564,0.177509,0.082569,0.083122
min,3.600500e+10,0.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.001135,-74.210676,40.529652
25%,3.604703e+10,5.000000,21.000000,2413.250000,0.088250,0.042000,0.001704,0.005739,-73.958192,40.660570
50%,3.606100e+10,12.000000,29.500000,3509.000000,0.151000,0.063000,0.003407,0.008129,-73.915355,40.708666
75%,3.608103e+10,26.000000,41.000000,4966.750000,0.249000,0.093750,0.006950,0.011347,-73.858431,40.772753
max,3.608503e+10,1641.000000,92.000000,26588.000000,0.714000,0.332000,5.833333,7.000000,-73.711998,40.912950

<h3>Add bins column</h3>

In [66]:

bins_leaks_per_person = [
    "0-0.0015",
    "0.00151-0.003",
    "0.0031-0.0045",
    "0.00451-0.006",
    "0.0061-0.0075",
    "0.00751-0.009",
    "0.0091-10"
]

In [67]:
full_df['bins_leaks_per_person']=full_df['gas_leaks_person'].apply(lambda x: bins_leaks_per_person[0] if float(x) <=0.0015 else bins_leaks_per_person[1] if float(x) <=0.003 else bins_leaks_per_person[2] if float(x) <=0.0045 else bins_leaks_per_person[3] if float(x) <=0.006 else bins_leaks_per_person[4] if float(x) <=0.0075 else bins_leaks_per_person[5] if float(x) <=0.009 else bins_leaks_per_person[6] )

In [68]:
dfg['geoid']= dfg['geoid'].astype('int64')

In [69]:
full_df[full_df['ntaname']=='Bay Ridge']

,geoid,_incidents,_crimes,population,povertyrate,unemploymentrate,gas_leaks_person,crimes_person,ntaname,boro_name,centerLong,centerLat,hover,bins_leaks_per_person
450,36047013000,15,30,4792,0.258,0.076,0.003130,0.00626,Bay Ridge,Brooklyn,-74.021385,40.632588,Brooklyn<br>Bay Ridge<br>36047013000<br>gas le...,0.0031-0.0045
568,36047012600,10,24,2652,0.205,0.061,0.003771,0.00905,Bay Ridge,Brooklyn,-74.019060,40.634815,Brooklyn<br>Bay Ridge<br>36047012600<br>gas le...,0.0031-0.0045

<h3> Create geojson files according to bins</h3>

In [70]:
merged = dfg.merge(full_df, on='geoid' )

In [71]:
merged.head()
merged=merged.drop(['ntaname_x', 'boro_name_x'], axis = 1)

In [72]:
merged=merged.rename(columns={'ntaname_y': 'ntaname', 'boro_name_y': 'boro_name'})

In [73]:
merged[(merged['ntaname']=='Bay Ridge') & (merged['bins_leaks_per_person'] == bins_leaks_per_person[2])]

,geoid,shape_area,geometry,_incidents,_crimes,population,povertyrate,unemploymentrate,gas_leaks_person,crimes_person,ntaname,boro_name,centerLong,centerLat,hover,bins_leaks_per_person
450,36047013000,1899181.52695,"MULTIPOLYGON (((-74.01853 40.63233, -74.01889 ...",15,30,4792,0.258,0.076,0.003130,0.00626,Bay Ridge,Brooklyn,-74.021385,40.632588,Brooklyn<br>Bay Ridge<br>36047013000<br>gas le...,0.0031-0.0045
568,36047012600,2524209.546,"MULTIPOLYGON (((-74.01681 40.63540, -74.01663 ...",10,24,2652,0.205,0.061,0.003771,0.00905,Bay Ridge,Brooklyn,-74.019060,40.634815,Brooklyn<br>Bay Ridge<br>36047012600<br>gas le...,0.0031-0.0045

In [74]:

for bin in bins_leaks_per_person:
    print(bin)
    geo_layer = merged[merged['bins_leaks_per_person'] == bin] # geo

    try:
        geo_layer.to_file("C:/Users/mskac/machineLearning/GasLeakConEd/data/geolayers/gasleaks_per_person/{}.geojson".format(bin), driver='GeoJSON')
    except:
        print('err')

0-0.0015
0.00151-0.003
0.0031-0.0045
0.00451-0.006
0.0061-0.0075
0.00751-0.009
0.0091-10